<a href="https://colab.research.google.com/github/wtlee/python_toturial/blob/main/2_Python_%E8%AA%9E%E6%B3%95_(Syntax).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 2. Python Syntax
                                    20210713 by Wen-Tin Lee
## 寫註解
註解的內容不需要執行也不能執行，只希望讓我們看懂程式撰寫的意思，增加程式的可讀性
### 有兩種註解方式
#### 第一種單行的註解
註解方式用#字號來標示 <br>
比如說<br>
#我的第一個Python程式<br>
這樣不會被執行<br>
下面的print(Hello,World)才會被執行

In [ ]:
# 我的第一個Python程式
# 我的第一個Python程式
# 我的第一個Python程式
print("Hello Python!")

Hello Python!

#### 第二種標示多行註解的方式
適用於<br>
連續三個單引號 或 連續三個雙引號<br>

  要在註解的前面先用三個單引號'''<br>
  註解結束的地方再用三個單引號'''<br>
  或<br>
  在註解開始的地方用三個雙引號"""<br>
  註解結束的地方用三個雙引號"""<br>
  記得<br>
  要 單對單 雙對雙

In [ ]:
'''多行註解
我的第一個Python程式
我的第一個Python程式
我的第一個Python程式
我的第一個Python程式
我的第一個Python程式
'''
"""
多行註解
我的第一個Python程式
"""
print("Hello Python!")

Hello Python!

### 在使用變數前，需要對其先賦值<br>
變數第一次指定就要設定初始值，沒先指定就直接使用會出現錯誤。

In [ ]:
weight = 8
print(weight)

8

In [ ]:
weight = 10
print(weight)

10

### 命名規則<br>
變數名可以包括字母、數字、下劃線，但不能以數字開頭；<br>
區分大小寫

In [ ]:
x = 100
y = 200
z = 300; w = 400 # 利用 ; 來區分敘述句
p = q = r = s = 100
name, eng, math, phy = "Nick", 92, 88, 60
name,eng,math,phy

('Nick', 92, 88, 60)

In [ ]:
name

'Nick'

### 命名規則
不可數字開始: 3employee 錯誤<br>
不可使用特殊字元<br>
&, #, * @ 等特殊字元皆不可<br>
大小寫不同<br>
employee, Employee 代表的是不同的變數<br>
不可與 保留字 相同<br>
例如 for, else, import 等都是系統的保留字!

In [ ]:
3employee = 10
# &age = 20
# class = 'A'
and = 1            # Error, and 是保留字
# @employ = 1    # Error, @ 是特殊字元

SyntaxError: ignored

### 變數型態

In [ ]:
# 整數運算
x = 5
y = 2
sum_result = x + y  # 加法
diff_result = x - y  # 減法
mul_result = x * y  # 乘法
div_result = x / y  # 除法
mod_result = x % y  # 取餘數

# 浮點數運算
a = 3.14
b = 1.5
product = a * b  # 乘法
quotient = a / b  # 除法

# 整數轉換為浮點數
int_to_float = float(x)

# 浮點數轉換為整數
float_to_int = int(b)

In [ ]:
float_to_int

1

In [ ]:
x = 5
y = 10
is_greater = x > y
is_greater
z = None
type(z)

NoneType

In [ ]:
a = 100       # int 型態
b = 8.9       # float 型態
c = "Tim"     # str 字串型態
d = 'wtlee'   # str 字串型態
e = True      # 布林 boolean 型態
f = False     # 布林 boolean 型態
g = 10 + 1j   # 複數 complex 型態
h = 5 + 1j    # 複數 complex 型態
list1 = [1, 2, 3, 4]          # list 型態
tuple1 = (5, 6, 7)            # tuple 型態
set1 = {"x", "y", "z"}        # set 型態
dictionary1 = {0:"a", 1:"b"}  # dict 型態

### 變數命名需有意義

In [ ]:
grade = 100                   # int 型態
temperature = 8.9             # float 型態
name = "Tim"                  # str 字串型態
teacherName = 'wtlee'         # str 字串型態
isTeacher = True              # 布林 boolean 型態
getPass = False               # 布林 boolean 型態
List1 = [1, 2, 3, 4]          # list 型態
tuple1 = (5, 6, 7)            # tuple 型態
set1 = {"x", "y", "z"}        # set 型態
dictionary1 = {0:"a", 1:"b"}  # dict 型態

In [ ]:
type(dictionary1)

dict

In [ ]:
# 布林型別
is_true = True
is_false = False

# 複數型別
complex_num_1 = complex(3, 2)  # 創建複數 3 + 2j
complex_num_2 = 1 + 4j  # 創建複數 1 + 4j

# 複數運算
sum_complex = complex_num_1 + complex_num_2  # 相加
diff_complex = complex_num_1 - complex_num_2  # 相減
product_complex = complex_num_1 * complex_num_2  # 相乘
quotient_complex = complex_num_1 / complex_num_2  # 相除

In [ ]:
product_complex

(-5+14j)

### 變數型態

In [ ]:
a = 1
b = 2
print(a+b)

3

In [ ]:
a = '1'
b = 2
print(a+b)

TypeError: ignored

In [ ]:
x = 'apple'
y = 'banana'
print(x+y)

applebanana

In [ ]:
print(x/y)              # Error

TypeError: ignored

### 型態轉換

In [ ]:
# convert an object to a given type
print(2)
float(2)

2

2.0

In [ ]:
int(105.9)

105

In [ ]:
str(2.9)

'2.9'

In [ ]:
type('Tim')

str

In [ ]:
type(False)

bool

In [ ]:
# zero, None, and empty containers are converted to False
bool(0)

False

In [ ]:
bool(1)

True

In [ ]:
bool(None)

False

In [ ]:
bool('123')    # empty string

True

In [ ]:
bool([1])    # empty list

True

In [ ]:
bool({})    # empty dictionary

False

In [ ]:
# non-empty containers and non-zeros are converted to True
bool(2)

True

In [ ]:
bool("1234")

True

In [ ]:
bool([2])

True

### 檢查型態 check given type

In [ ]:
# 檢查型態 check given type
type(grade) == int      # True

True

In [ ]:
type(grade)

int

In [ ]:
grade = 95
grade == 95

True

In [ ]:
isinstance(grade, float) # False

False

In [ ]:
isinstance('two', str)   # True

True

In [ ]:
2 == 3

False

In [ ]:
isinstance(2==3, bool)   # True

True

### 輸入(Input)
### input ():使用者由鍵盤輸入資料，回傳輸入的字串

In [ ]:
name = input()
print(name)
age = input("your age? ")
print(age)
print(type(name), type(age))

tim
tim
your age? 20
20
<class 'str'> <class 'str'>

In [ ]:
grade = int(input("輸入成績: "))
print(grade*1.2)

輸入成績: 60
72.0

In [ ]:
a, b, c = input("請輸入三個數字，以空格分隔：").split()
a, b, c

請輸入三個數字，以空格分隔：2 3 4

('2', '3', '4')

In [ ]:
a, b= input("請輸入任意個數字，以逗號分隔：").split(',')
a

請輸入任意個數字，以逗號分隔：2233,44

'2233'

In [ ]:
b

'44'

In [ ]:
n, *a = input("請輸入第一個是資料個數，以及該數量的數字，以空白分隔：").split()

請輸入第一個是資料個數，以及該數量的數字，以空白分隔：3 8 8 8

In [ ]:
n
a

['8', '8', '8']

In [ ]:
data = input("請輸入多個單詞，以空格分隔：").split(maxsplit=1)

請輸入多個單詞，以空格分隔：This is a sentence

In [ ]:
data

['This', 'is a sentence']

## 使用 print來輸出文字
### print(*objects , sep=' ' , end='\n' )

In [ ]:
name = 'Jimmy'; age = 20
print(name)
print(name, age)

Jimmy
Jimmy 20

In [ ]:
print("A", "B", "C", "D")

print("A", "B", "C", "D", sep = "")
print("A", "B", "C", "D", sep = "|")

print("A", "B", "C", "D", end = " ")
print("A", "B", "C", "D", end = "\n")

A B C D
ABCD
A|B|C|D
A B C D A B C D

In [ ]:
print('your name is ', name, " and age is ", age)

your name is  Jimmy  and age is  20

In [ ]:
print(name,'\' age is', age)

Jimmy ' age is 20

### %參數式格式化輸出
### print (輸出字串 % (參數1, 參數2… )

In [ ]:
str2 = "Your name is %s and age is %d" %(name, age)
print(str2)

Your name is Jimmy and age is 20

In [ ]:
print ("Your name is %s and age is %d" %(name, age))

Your name is Jimmy and age is 20

In [ ]:
# formatting numbers
b1 = 'pi is %.2f' % (3.14159)
b2 = 'pi is %.2f, area = %5.3f' % (3.14159, 1.325)
b3 = 'pi is %.2f, area = %5.1f' % (3.14159, 1.325)
print(b1)
print(b2)
print(b3)

pi is 3.14
pi is 3.14, area = 1.325
pi is 3.14, area =   1.3

### format方法的格式化輸出
### print (" … {} … {}".format( 變數1, 變數2 )

In [ ]:
print ("Your name is {} and age is {}".format(name, age))

Your name is Jimmy and age is 20

In [ ]:
str1 = "Your name is {0} and age is {1}".format(name, age)
print(str1)

Your name is Jimmy and age is 20

In [ ]:
# formatting numbers
b1 = 'pi is {:.2f}'.format(3.14159)
b2 = 'pi is {0:.2f}, area = {1}'.format(3.14159, 1.325)
b3 = 'pi is {0:.2f}, area = {1:5.1f}'.format(3.14159, 1.325)
print(b1)
print(b2)
print(b3)

pi is 3.14
pi is 3.14, area = 1.325
pi is 3.14, area =   1.3

In [ ]:
print("{0:12}薪水：{1:>12}".format("Tim", 98000))
print("{0:12}薪水：{1:_^12}".format("Alan", 180000))
print("{0:12}薪水：{1:*<12}".format("Mary", 66000))

Tim         薪水：       98000
Alan        薪水：___180000___
Mary        薪水：66000*******

### 字串插值（Formatted String Literal）
Python 3.6 新增格式字串插值（Formatted String Literal），可以將 Python 運算式嵌入在字串常數中。

In [ ]:
print (f"Your name is {name} and age is {age}")

Your name is Jimmy and age is 20

In [ ]:
x = 20
y = 25

print(f'x + y = {x + y}')

x + y = 45

In [ ]:
n = int(input())

odd = n % 2
result = bool(odd)

print(f"Is the integer {n} an odd number?")
print(f"{result}!")

5
Is the integer 5 an odd number?
True!
['/bin/bash: line 1: result: command not found']