<a href="https://colab.research.google.com/github/wtlee/python_toturial/blob/main/5_List%E9%9B%86%E5%90%88%E7%89%A9%E4%BB%B6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List 集合物件

In [ ]:
# 放一群人的姓名，型態都是字串
students = ['nick', 'albert', 'jie']

In [ ]:
# 放一群人的年齡，型態都是數字
age =[12, 56, 40, 22, 59]

In [ ]:
# 某學生的資料與成績
nick_grade = ['nick', 'S9201201', [90, 72, 100]]
albert_grade = ['albert', 'S9201202', [99, 68, 90]]

In [ ]:
# list 中有 list
grades = [nick_grade, albert_grade]

In [ ]:
# 建立空的 list
empty_list = []
empty_list = list()

In [ ]:
A = [1, 2,'a','b']
A.append('d')
A

[1, 2, 'a', 'b', 'd']

In [ ]:
A.remove('a')
A

[1, 2, 'b', 'd']

In [ ]:
A[0]= 100
A

[100, 2, 'b', 'd']

In [ ]:
A[2]

'b'

In [ ]:
A[1:]

[2, 'b', 'a']

In [ ]:
##### 增
students = ['nick', 'albert', 'jie']

In [ ]:
students

['nick', 'albert', 'jie']

In [ ]:
st = ['jason', 'allen']

students.insert(1, st)
students       # 後加

['maggie',
 ['jason', 'allen'],
 'nick',
 'albert',
 'jie',
 'lisa',
 'jason',
 'allen']

刪除list 元素
* remove(e): 移除第⼀個e;若沒有e 則會產生例外

* pop(): 回傳並移除最後⼀個
* pop(index): 回傳並移除index 的元素

## 刪除元素

In [ ]:
##### 刪
students = ['nick', 'albert', 'jie']
students.remove('nick') # 移除第一個名為 nick 的元素

In [ ]:
students

['albert', 'jie']

In [ ]:
print(students.pop())
students

jie

['albert']

## 修改元素

In [ ]:
# 修
grade = [11, 22, 99, 35, 59]
g = grade # 相同參考
grade0 = grade.copy() # 不同參考，相同值

grade is grade0

False

In [ ]:
grade == grade0 # 檢查內容是否相同

True

In [ ]:
grade is g

True

In [ ]:
grade == g

False

## 查詢及擷取資料
* data[i]: 取得i 位置的值
* 資料切片(data slicing)
* e in data: 回傳e 是否在data中, True 或 False

In [ ]:
# 查(與取值)
### 取得片段資料(list slicing [start:end:step])
grade =[11, 22, 99, 35, 59]
grade[0] # 取第0 筆資料, 11

11

In [ ]:
grade[0:3] # [11,22,99]

[11, 22, 99]

In [ ]:
grade[:3] # 預設從0 開始, [11,22,99]

[11, 22, 99]

In [ ]:
grade[3:] # [35,59]

[35, 59]

In [ ]:
grade[-1] # 59, 倒數第⼀個

59

In [ ]:
grade[::2] # 11,99,59 ⼀次跳兩步

[11, 99, 59]

## List 常用函式

In [ ]:
students = ['nick', 'albert', 'jie']
age =[12, 56, 40]
# list 相關函式
len(age) # 元素個數

3

In [ ]:
max(age) # 取得最大的元素值

56

In [ ]:
min(age) # 取得最小的元素值

12

In [ ]:
age2 = sorted(age) # 傳回排序後的結果, age 本身不被排序
age2

[12, 40, 56]

In [ ]:
# list method
c = students.count('nick') # 符合的元素數量
c

1

In [ ]:
idx = students.index('albert') # 所在位置（0 開始）
idx

1

## 排序
* data.sort(): 由小到大排序，sort() 會改變本身的資料;

* data.sort(reverse=True): 由大到小排序，sorted()不會改變資料，但會回傳⼀個已排序的

In [ ]:
# 把所有不及格的改為60 分, grade0 = [11, 22, 99, 35, 59]
grade = grade0.copy()
i = 0
for s in grade:
  if s < 60:
    grade[i] = 60
  i += 1
print(grade)

[60, 60, 99, 60, 60]

In [ ]:
# 利用enumerate 簡化
grade = [11,22,99,35,59]
print(grade)
for j, k in enumerate(grade):
  print(j, k)
  if g < 60:
    grade[j] = 60
print(grade)

[11, 22, 99, 35, 59]
0 11
1 22
2 99
3 35
4 59
[60, 60, 60, 60, 60]

In [ ]:
# List 的比較
nums = [10, 20, 40, 50]
nums2 = nums
nums2[0] = 0 # modifies both
nums2

[0, 20, 40, 50]

In [ ]:
nums

[0, 20, 40, 50]

In [ ]:
# copy a list (three ways)
nums_copy1 = nums[:]
nums_copy2 = list(nums)
nums_copy3 = nums.copy()

In [ ]:
nums_copy1

[0, 20, 40, 50]

In [ ]:
# is 檢驗兩物件是否參考相同
nums is nums2 # True; same object

True

In [ ]:
nums is nums_copy1 # False

False

In [ ]:
# == 檢驗兩物件是否內容相同
nums == nums2 # True

True

In [ ]:
nums == nums_copy1 # True; same content

True

In [ ]:
### list 是可瀏覽的
students = ['nick', 'albert', 'jie']

# for list
for st in students: # 印出所有學生姓名
    print (st)

nick
albert
jie

In [ ]:
# 整體資料的運算
sum = 0
for g in grade:
  sum += g
print (sum//len(grade))

45

In [ ]:
# enumerate
### list 是可瀏覽的
students = ['nick', 'albert', 'jie']
for i, st in enumerate(students):
  print (i, st)

0 nick
1 albert
2 jie

In [ ]:
# count, index
students = ['nick', 'albert', 'jie', 'nick']
cnt = students.count('nick')
idx = students.index('jie')
print(cnt, idx)

2 2

In [ ]:
##### list of list
# List of List
grade = [[11, 22, 33], [44, 55, 66],
      [77, 88, 99], [90, 91, 92]]
grade[0]    # [77, 88, 99]

[11, 22, 33]

In [ ]:
grade[2][0] # 77

77

In [ ]:
for row in grade:
  for element in row:
    print(row, end=' ')
    print(element, end=' ')
  print()

[11, 22, 33] 11 [11, 22, 33] 22 [11, 22, 33] 33
[44, 55, 66] 44 [44, 55, 66] 55 [44, 55, 66] 66
[77, 88, 99] 77 [77, 88, 99] 88 [77, 88, 99] 99
[90, 91, 92] 90 [90, 91, 92] 91 [90, 91, 92] 92

In [ ]:
a = [i for i in range(0, 10, 2)]
# 產生[0, 2, 4, 6, 8]
a

In [ ]:
a = [i for i in range(10)]
# 產生[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# enumerate
# List of List
# grade = [[11, 22, 33], [44, 55, 66],
#      [77, 88, 99], [90, 91, 92]]
for i, row in enumerate(grade):
    for j, element in enumerate(row):
        print ('grade[{}][{}]={}'.format(i,j,element), end='; ')
    print ()

grade[0][0]=11; grade[0][1]=22; grade[0][2]=33;
grade[1][0]=44; grade[1][1]=55; grade[1][2]=66;
grade[2][0]=77; grade[2][1]=88; grade[2][2]=99;
grade[3][0]=90; grade[3][1]=91; grade[3][2]=92;

## Lab: 計算每科目的總和

In [ ]:
# 使用 enumerate 計算每科目的總和

## Tuple

In [ ]:
# 建立 tuple
tup1 = ('Nick', 172, 75)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"
tup4 = tuple([1, 2, 3, 4, 5])  # 由 List 中建立
# tup2[0] = 100                  # ERROR!
tup2.append(12)

AttributeError: ignored

In [ ]:
# Tuple 比較省

li_grade = [11, 22, 99, 35, 59] # list
tu_grade = (11, 22, 99, 35, 59) # tuple

In [ ]:
import sys
print (sys.getsizeof(li_grade))
print (sys.getsizeof(tu_grade))

104
80

In [ ]:
# Tuple 比較快

import timeit
do_list = timeit.timeit(stmt = '[1,2,3,4,5]',
             number = 10000000)
do_tupl = timeit.timeit(stmt = '(1,2,3,4,5)',
             number = 10000000)
print (do_list)
print (do_tupl)

0.6575866610000389
0.14420568899998898

In [ ]:
print (do_list)
print (do_tupl)

1.2718315649999994
0.25921322900001087

In [ ]:
'''
 Tuple 資料的查取，和 List 幾乎一樣
 tup1 = ('Nick', 172, 75)
 tup2 = (1, 2, 3, 4, 5 )
 tup3 = "a", "b", "c", "d"
 tup4 = tuple([1, 2, 3, 4, 5])  # 由 List 中建立
'''
# Get the elements
print(tup1[0])
print(tup2(1:4))   # ERROR
print(tup2[1:4])   # (2, 3, 4)
print(tup2[-1])    # 5

SyntaxError: ignored

In [ ]:
# Function and method
len(tup2) 		# 5

5

In [ ]:
tup2.count(1)	# 1

1

In [ ]:
tup2.index(1)	# 0

0

In [ ]:
tup2 = tup2 + tuple([6])	# ok(1,2,3,4,5,6)
tup2

(1, 2, 3, 4, 5, 6)

In [ ]:
tup2 = tup2 + (6)	        # error
tup2

TypeError: ignored

In [ ]:
(3, 4) * 2  # returns (3, 4, 3, 4)

(3, 4, 3, 4)

In [ ]:
# Sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
s2 = sorted(tens)
s2

[10, 20, 20, 30, 40, 60]

In [ ]:
# Tuple unpacking
person = ('male', 10, 'nick')   # create a tuple
(sex, age, surname) = person    # assign three values at once
print(sex, age, surname)

male 10 nick

In [ ]:
sex, age, surname = person      # assign three values at once

In [ ]:
sex, age = person          # ERROR

ValueError: ignored

## Set

In [ ]:
# create a set
basketball = set()  # an empty set
basketball = {"nick", "jie", "albert"}
basketball = set(["nick", "john", "nick", "jackie"])
print(basketball)

{'jackie', 'nick', 'john'}

In [ ]:
basketball2 = {}  # this is dict, NOT set
type(basketball2)

dict

In [ ]:
# 不會有重複
badminton = {'nick', 'nick', 'john'}
print(badminton)

{'nick', 'john'}

In [ ]:
print(badminton[0])  # Error, set 沒有順序

TypeError: ignored

In [ ]:
basketball = set(["nick", "john", "nick", "jackie"])
# 增
basketball.add('alex')
basketball.add('alex')  # 不會再新增，不會有錯誤訊息
print(basketball)

{'jackie', 'nick', 'alex', 'john'}

In [ ]:
# 刪除
basketball = {"nick", "jie", "albert"}
basketball.remove('nick')
#basketball.remove('nick')  # 會產生錯誤
basketball.discard('nick')
p1 = basketball.pop()  # 移除並回傳
print(p1, basketball)
basketball.clear()  # remove all elements
print(basketball)

jie {'albert'}
set()

In [ ]:
# 查
basketball = {"nick", "jie", "albert"}
print(len(basketball))

print('nick' in basketball)

3
True

In [ ]:
for player in basketball:
    print(player)

nick
jie
albert

In [ ]:
# create a set
basketball = {"nick", "jie", "albert"}
baseball = {'nick', 'tim', 'john'}
print(basketball, baseball)

{'nick', 'jie', 'albert'} {'nick', 'john', 'tim'}

In [ ]:
# Set operations
print(basketball | baseball) 	          # 聯集
print(basketball.union(baseball))         # 聯集
print(basketball)

{'tim', 'jie', 'albert', 'nick', 'john'}
{'tim', 'jie', 'albert', 'nick', 'john'}
{'nick', 'jie', 'albert'}

In [ ]:
print(basketball.intersection(baseball))  # 交集
print(basketball & baseball) 	     # 交集

print(basketball - baseball) 	     # 差集
print(baseball - basketball)

{'nick'}
{'nick'}
{'jie', 'albert'}
{'john', 'tim'}

In [ ]:
# Get a sorted list of unique elements from a set
s2 = sorted(set([9, 0, 2, 1, 0]))  # returns [0, 1, 2, 9]
s2

[0, 0, 1, 2, 9]

## dictionary

In [ ]:
# create an empty dictionary
empty_dict = {}
empty_dict = dict()

In [ ]:
# create a dictionary
family = {'dad':'Jack'}     # {key:value}
family = {'dad':'Jack','mom':'LiLi','size':2}

In [ ]:
# 使用 dict 來宣告
family = dict(dad='Jack', mom='LiLi', size=2)
print(family)

{'dad': 'Jack', 'mom': 'LiLi', 'size': 2}

In [ ]:
# key 可以是 int, string, tuple 等不可修改的形態
std_grade = [1:12, 2:100, 3:90]   # 學號, 成績
name_grade = {'nick':90, 'jack':50}  # 姓名, 成績
class_avg = {('A', 'math'):23,
        ('B','eng'):89}     # (班級, 科目), 成績
print(std_grade,name_grade,class_avg )

[1, 12, 2]
[1, 12, 2, 100, 3, 90] {'nick': 90, 'jack': 50} {('A', 'math'): 23, ('B', 'eng'): 89}

In [ ]:
# key 的形態必須 immutable, List 是不行的：
grade = {['eng']:12, 'math':100, 'phy':90, 'eng':90} # ERROR!

TypeError: ignored

In [ ]:
# convert a list of tuples into a dictionary
t = [('dad', 'Jack'), ('mom', 'LiLi'), ('size', 2)]
family = dict(t)
type(t)
type(family)
print(family)

{'dad': 'Jack', 'mom': 'LiLi', 'size': 2}

In [ ]:
# 增
std_grade = {1:12, 2:100, 3:90}  # 學號, 成績
std_grade[4] = 30                # 新增一筆 {4: 30}
print(std_grade)

{1: 12, 2: 100, 3: 90, 4: 30}

In [ ]:
# 刪
std_grade = {1:12, 2:100, 3:90, 4:50}
del std_grade[3]      # 移除 {3:} 這一筆
print(std_grade)
g = std_grade.pop(4)  # 移除並回傳
print(g, std_grade)

{1: 12, 2: 100, 4: 50}
50 {1: 12, 2: 100}

In [ ]:
# 修
std_grade = {1:12, 2:100, 3:90}
name_grade = {'nick':90, 'jack':50}
std_grade[4] = 100
name_grade['nick'] = 100
print(std_grade, name_grade)

{1: 12, 2: 100, 3: 90, 4: 100} {'nick': 100, 'jack': 50}

In [ ]:
std_grade.update({1:90})   # 也可使用 update
print(std_grade)

{1: 90, 2: 100, 3: 90, 4: 100}

In [ ]:
# 查
std_grade = {1:12, 2:100, 3:90}
print(std_grade[1])
print(len(std_grade))
print(1 in std_grade)
print(100 in std_grade)
print('nick' in name_grade)

12
3
True
False
True

In [ ]:
name_grade = {'nick':90, 'jack':50}
k = name_grade.keys()
print(k)
print('nick' in k)

dict_keys(['nick', 'jack'])
True

In [ ]:
v = name_grade.values()
print(v)
print(50 in v)

dict_values([90, 50])
True

In [ ]:
items = name_grade.items()
print(items)
print(('nick',90) in items)

dict_items([('nick', 90), ('jack', 50)])
True

In [ ]:
# Example
family = {'dad':'Jack', 'mom':'LiLi', 'size':6}
print(family.items())
for (key, value) in family.items():
    print(key, value)

dict_items([('dad', 'Jack'), ('mom', 'LiLi'), ('size', 6)])
dad Jack
mom LiLi
size 6

In [ ]:
# dictionary comprehension
fruits = ['apple', 'banna', 'cherry']
fruits

['apple', 'banna', 'cherry']

In [ ]:
# 一行產生一個水果字數的 dict
fruit_len = {f:len(f) for f in fruits}
print(fruit_len)

{'apple': 5, 'banna': 5, 'cherry': 6}

In [ ]:
# 建立一個班級人數的 dict
classA = ['Jack', 'Mary']
classB = ['nick', 'albert', 'jie']
allClass = [classA, classB]
class_count = {tuple(c):len(c) for c in allClass}
print(allClass)
print(class_count)

[['Jack', 'Mary'], ['nick', 'albert', 'jie']]
{('Jack', 'Mary'): 2, ('nick', 'albert', 'jie'): 3}

In [ ]:
# zip
std = ['nick','john','mac']
grade = [100, 90, 80]
std_grade = {k:v for (k,v) in list(zip(std, grade))}
print(list(zip(std,grade)))
print(std_grade)

[('nick', 100), ('john', 90), ('mac', 80)]
{'nick': 100, 'john': 90, 'mac': 80}

In [ ]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")
x = zip(a, b)
print(tuple(x))

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

## 中英字典
應用dict建立一個英翻中的字典，例如myDict = {“dog”: “狗”, “cat”:“貓” }。依據此字典透過程式產生另一個中翻英字典。 要求使用者選擇: 英翻中, 中翻英, 或離開
使用者輸入英文(或中文) 若有此字，輸出翻譯結果，若沒有，則輸出:查無此單字。
迴圈直到使用者選擇離開