<a href="https://colab.research.google.com/github/wtlee/python_tutorial/blob/main/5_%E9%9B%86%E5%90%88%E7%89%A9%E4%BB%B6_List_and_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List 集合物件

### 建立串列(List)
中括號( 方括號)

In [ ]:
# 放一群人的姓名，型態都是字串
students = ['nick', 'albert', 'jie']
students

['nick', 'albert', 'jie']

In [ ]:
# 放一群人的年齡，型態都是數字
age =[12, 56, 40, 22, 59]
age
age[4]

59

In [ ]:
# 複合串列：某學生的資料與成績
nick_grade = ['nick', 'S9201201', 9, [90, 72, 100]]
albert_grade = ['albert', 'S9201202', [99, 68, 90]]
nick_grade

['nick', 'S9201201', 9, [90, 72, 100]]

In [ ]:
# list 中有 list
grades = [nick_grade, albert_grade]
grades

[['nick', 'S9201201', 9, [90, 72, 100]], ['albert', 'S9201202', [99, 68, 90]]]

list()

In [ ]:
# 建立空的 list
empty_list = []
empty_list = list()

word_list = list('Hello World')
word_list

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

split()建立文字串列

In [ ]:
a = 'Hello, World'
b = a.split(',')
b

['Hello', ' World']

串列( List )方法

In [ ]:
A = [1, 2,'a','b']
A.append('d')
A

[1, 2, 'a', 'b', 'd']

In [ ]:
A.remove('a')
A

[1, 2, 'b', 'd']

In [ ]:
A[0]= 100
A

[100, 2, 'b', 'd']

In [ ]:
A[2]

'b'

In [ ]:
A[1:]

[2, 'b', 'd']

新增list 元素

In [ ]:
##### 增
students = ['nick', 'albert', 'jie']
students

['nick', 'albert', 'jie']

In [ ]:
students.append('lisa')
students

['nick', 'albert', 'jie', 'lisa']

In [ ]:
st1 = ['tim', 'bill']
students.extend(st1)
students

['nick', 'albert', 'jie', 'lisa', 'tim', 'bill']

In [ ]:
st2 = ['tom', 'bily']
students + st2
students

['nick', 'albert', 'jie', 'lisa', 'tim', 'bill']

In [ ]:
new_students = students + st2
new_students

['nick', 'albert', 'jie', 'lisa', 'tim', 'bill', 'tom', 'bily']

In [ ]:
st3 = 'jack'
students.insert(0, st3)
students       # 後加

['jack', 'jack', 'nick', 'albert', 'jie', 'lisa', 'tim', 'bill']

In [ ]:
st = ['jason', 'allen']

students.insert(1, st)
students       # 後加

['jack',
 ['jason', 'allen'],
 'jack',
 'nick',
 'albert',
 'jie',
 'lisa',
 'tim',
 'bill']

刪除list 元素
* remove(e): 移除第⼀個e;若沒有e 則會產生例外

* pop(): 回傳並移除最後⼀個
* pop(index): 回傳並移除index 的元素

## 刪除元素

In [ ]:
##### 刪
students = ['nick', 'albert', 'jie']
students0 = students.copy()
students.remove('nick') # 移除第一個名為 nick 的元素
students

['albert', 'jie']

In [ ]:
print(students.pop())
students

jie

['albert']

In [ ]:
students = students0.copy()
st = students.pop() # 取出最後的元素
st

['nick', 'albert']

In [ ]:
students = students0.copy()
students.pop(0) # 取出第㇐個元素

'nick'

In [ ]:
students

['albert', 'jie']

In [ ]:
del students[0]
students

['jie']

In [ ]:
students = ['nick', 'albert', 'jie']
students.clear()
print(students)

[]

## 修改元素

In [ ]:
# 修
grade = [11, 22, 99, 35, 59]
g = grade # 相同參考
grade0 = grade.copy() # 不同參考，相同值

grade is grade0

False

In [ ]:
grade == grade0 # 檢查內容是否相同

True

In [ ]:
grade0

[11, 22, 99, 35, 59]

In [ ]:
grade is g

True

In [ ]:
grade == g

True

In [ ]:
grade[0] = 12
grade

[12, 22, 99, 35, 59]

In [ ]:
g

[12, 22, 99, 35, 59]

In [ ]:
grade0

[11, 22, 99, 35, 59]

List 的比較

In [ ]:
# List 的比較
nums = [10, 20, 40, 50]
nums2 = nums
nums2[0] = 0 # modifies both
nums2

[0, 20, 40, 50]

In [ ]:
nums

[0, 20, 40, 50]

In [ ]:
# copy a list (three ways)
nums_copy1 = nums[:]
nums_copy2 = list(nums)
nums_copy3 = nums.copy()

In [ ]:
nums_copy1

[0, 20, 40, 50]

In [ ]:
# is 檢驗兩物件是否參考相同
nums is nums2 # True; same object

True

In [ ]:
nums is nums_copy1 # False

False

In [ ]:
# == 檢驗兩物件是否內容相同
nums == nums2 # True

True

In [ ]:
nums == nums_copy1 # True; same content

True

In [ ]:
nums[0] = 100
nums

[100, 20, 40, 50]

In [ ]:
nums2

[100, 20, 40, 50]

In [ ]:
nums_copy1

[0, 20, 40, 50]

In [ ]:
# 把所有不及格的改為60 分, grade0 = [11, 22, 99, 35, 59]
grade = grade0.copy()
print(grade)
i = 0
for s in grade:
  if s < 60:
    grade[i] = 60
  i += 1
print(grade)

[11, 22, 99, 35, 59]
[60, 60, 99, 60, 60]

## 查詢及擷取資料
* data[i]: 取得i 位置的值
* 資料切片(data slicing)
* e in data: 回傳e 是否在data中, True 或 False

data[i]: 取得i 位置的值

In [ ]:
# 查(與取值)
### 取得片段資料(list slicing [start:end:step])
grade = [11, 22, 99, 35, 59]
grade[-1] # 取第0 筆資料, 11

59

資料切片(data slicing)

In [ ]:
grade[0:3] # [11,22,99]

[11, 22, 99]

In [ ]:
grade[:3] # 預設從0 開始, [11,22,99]

[11, 22, 99]

In [ ]:
grade[3:] # [35,59]

[35, 59]

In [ ]:
grade[-1] # 59, 倒數第⼀個

59

In [ ]:
grade[::2] # 11,99,59 ⼀次跳兩步

[11, 59]

In [ ]:
### list 是可瀏覽的
students = ['nick', 'albert', 'jie']

# for list
for st in students: # 印出所有學生姓名
    print (st)

In [ ]:
# 整體資料的運算
sum = 0
for g in grade:
  sum += g
print (sum//len(grade))

## List 常用函式

In [ ]:
students = ['nick','nick','nick', 'albert', 'jie']
age =[12, 56, 40]
# list 相關函式
len(age) # 元素個數

3

In [ ]:
max(age) # 取得最大的元素值

56

In [ ]:
min(age) # 取得最小的元素值

12

In [ ]:
age2 = sorted(age) # 傳回排序後的結果, age 本身不被排序
age2

[12, 40, 56]

In [ ]:
# list method
c = students.count('nick') # 符合的元素數量
c

3

In [ ]:
idx = students.index('nick') # 所在位置（0 開始）
idx

0

二維陣列(List of List /2-Dimensional Array)

In [ ]:
##### list of list
# List of List
grade = [[11, 22, 33], [44, 55, 66],
      [77, 88, 99], [90, 91, 92]]
grade

[[11, 22, 33], [44, 55, 66], [77, 88, 99], [90, 91, 92]]

In [ ]:
grade[2]

[77, 88, 99]

In [ ]:
grade[3][2] # 77

92

In [ ]:
for row in grade:
  # print(row, end=' ')
  for element in row:
    print(element, end=' ')
  print()

11 22 33
44 55 66
77 88 99
90 91 92

### Lab: 計算每科目的總和

使用enumerate

In [ ]:
# 列舉(enumerate)
### list 是可瀏覽的
students = ['nick', 'albert', 'jie']
for i, st in enumerate(students):
  print (i, st)

0 nick
1 albert
2 jie

In [ ]:
# 利用enumerate 簡化
grade = [11,22,99,35,59]
print(grade)
for j, k in enumerate(grade):
  print(j, k)
  if k < 60:
    grade[j] = 60
print(grade)

[11, 22, 99, 35, 59]
0 11
1 22
2 99
3 35
4 59
[60, 60, 99, 60, 60]

In [ ]:
# enumerate
# List of List
grade = [[11, 22, 33], [44, 55, 66],
     [77, 88, 99], [90, 91, 92]]
for i, row in enumerate(grade):
    for j, element in enumerate(row):
        print ('grade[{}][{}]={}'.format(i,j,element), end='; ')
    print ()

grade[0][0]=11; grade[0][1]=22; grade[0][2]=33;
grade[1][0]=44; grade[1][1]=55; grade[1][2]=66;
grade[2][0]=77; grade[2][1]=88; grade[2][2]=99;
grade[3][0]=90; grade[3][1]=91; grade[3][2]=92;

### Lab: 計算每科目的總和

In [ ]:
# 使用 enumerate 計算每科目的總和

List 的進階用法- list comprehension

In [ ]:
a = [i for i in range(0, 10, 2)]
# 產生[0, 2, 4, 6, 8]
a

In [ ]:
a = [i for i in range(10)]
# 產生[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
a

## 排序
* data.sort(): 由小到大排序，sort() 會改變本身的資料;

* data.sort(reverse=True): 由大到小排序，sorted()不會改變資料，但會回傳⼀個已排序的

Lab 4 成績加總排序

## Tuple

In [ ]:
# 建立 tuple
tup1 = ('Nick', 172, 75)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"
tup4 = tuple([1, 2, 3, 4, 5])  # 由 List 中建立
# tup2[0] = 100                  # ERROR!
# tup2.append(12)

In [ ]:
# Tuple 比較省

li_grade = [11, 22, 99, 35, 59] # list
tu_grade = (11, 22, 99, 35, 59) # tuple

In [ ]:
import sys
print (sys.getsizeof(li_grade))
print (sys.getsizeof(tu_grade))

In [ ]:
# Tuple 比較快

import timeit
do_list = timeit.timeit(stmt = '[1,2,3,4,5]',
             number = 10000000)
do_tupl = timeit.timeit(stmt = '(1,2,3,4,5)',
             number = 10000000)
print (do_list)
print (do_tupl)

In [ ]:
print(do_list)
print(do_tupl)

In [ ]:
'''
 Tuple 資料的查取，和 List 幾乎一樣
 tup1 = ('Nick', 172, 75)
 tup2 = (1, 2, 3, 4, 5 )
 tup3 = "a", "b", "c", "d"
 tup4 = tuple([1, 2, 3, 4, 5])  # 由 List 中建立
'''
# Get the elements
print(tup1[0])
# print(tup2(1:4))   # ERROR
print(tup2[1:4])   # (2, 3, 4)
print(tup2[-1])    # 5

In [ ]:
# Function and method
len(tup2) 		# 5

In [ ]:
tup2.count(1)	# 1

In [ ]:
tup2.index(1)	# 0

In [ ]:
tup2 = tup2 + tuple([6])	# ok(1,2,3,4,5,6)
tup2

In [ ]:
tup2 = tup2 + (6)	        # error
tup2

In [ ]:
(3, 4) * 2  # returns (3, 4, 3, 4)

In [ ]:
# Sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
s2 = sorted(tens)
s2

In [ ]:
# Tuple unpacking
person = ('male', 10, 'nick')   # create a tuple
(sex, age, surname) = person    # assign three values at once
print(sex, age, surname)

In [ ]:
sex, age, surname = person      # assign three values at once

In [ ]:
sex, age = person          # ERROR