<a href="https://colab.research.google.com/github/wtlee/python_tutorial/blob/main/5_%E9%9B%86%E5%90%88%E7%89%A9%E4%BB%B6_Set_and_Dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set and Dict 集合物件

## Set

In [ ]:
# create a set
basketball = set()  # an empty set
print(basketball)
basketball = {"nick", "jie", "albert"}
print(basketball)
basketball = set(["nick", "john", "nick", "jackie"])
print(basketball)

set()
{'albert', 'nick', 'jie'}
{'jackie', 'nick', 'john'}

In [ ]:
basketball2 = {}  # this is dict, NOT set
type(basketball2)

dict

In [ ]:
# 不會有重複
badminton = {'nick', 'nick', 'john'}
print(badminton)

{'nick', 'john'}

In [ ]:
print(badminton[0])  # Error, set 沒有順序

In [ ]:
basketball = set(["nick", "john", "nick", "jackie"])
print(basketball)
# 增
basketball.add('alex')
basketball.add('alex')  # 不會再新增，不會有錯誤訊息
print(basketball)

{'jackie', 'nick', 'john'}
{'alex', 'jackie', 'nick', 'john'}

In [ ]:
# 刪除
basketball = {"nick", "jie", "albert"}
basketball.remove('nick')
print(basketball)
# basketball.remove('nick')  # 會產生錯誤
basketball.discard('nick')
p1 = basketball.pop()  # 移除並回傳
print(p1)
print(basketball)
basketball.clear()  # remove all elements
print(basketball)

{'albert', 'jie'}
albert
{'jie'}
set()

In [ ]:
# 查
basketball = {"nick", "jie", "albert"}
print(len(basketball))

print('allen' in basketball)

3
False

In [ ]:
for player in basketball:
    print(player)

albert
nick
jie

In [ ]:
# create a set
basketball = {"nick", "jie", "albert"}
baseball = {'nick', 'tim', 'john'}
print(basketball, baseball)

{'albert', 'nick', 'jie'} {'tim', 'nick', 'john'}

In [ ]:
# Set operations
print(basketball | baseball) 	          # 聯集
print(basketball.union(baseball))         # 聯集
print(basketball)

{'albert', 'jie', 'tim', 'nick', 'john'}
{'albert', 'jie', 'tim', 'nick', 'john'}
{'albert', 'jie', 'nick'}

In [ ]:
print(basketball.intersection(baseball))  # 交集
print(basketball & baseball) 	     # 交集

print(basketball - baseball) 	     # 差集
print(baseball - basketball)

{'nick'}
{'nick'}
{'albert', 'jie'}
{'tim', 'john'}

In [ ]:
# Get a sorted list of unique elements from a set
s2 = sorted(set([9, 0, 2, 1, 0]))  # returns [0, 1, 2, 9]
s2

[0, 1, 2, 9]

## dictionary

In [ ]:
# create an empty dictionary
empty_dict = {}
empty_dict = dict()
type(empty_dict)

dict

In [ ]:
# create a dictionary
family = {'dad':'Jack'}     # {key:value}
family = {'dad':'Jack','mom':'LiLi','size':2}

In [ ]:
# 使用 dict 來宣告
family = dict(dad='Jack', mom='LiLi', size=2)
print(family)

{'dad': 'Jack', 'mom': 'LiLi', 'size': 2}

In [ ]:
# key 可以是 int, string, tuple 等不可修改的形態
std_grade = {1:12, 2:100, 3:90}   # 學號, 成績
name_grade = {'nick':90, 'jack':50}  # 姓名, 成績
class_avg = {('A', 'math'):23,
        ('B','eng'):89}     # (班級, 科目), 成績
print(std_grade,name_grade,class_avg )

{1: 12, 2: 100, 3: 90} {'nick': 90, 'jack': 50} {('A', 'math'): 23, ('B', 'eng'): 89}

In [ ]:
# key 的形態必須 immutable, List 是不行的：
grade = {['eng']:12, 'math':100, 'phy':90, 'eng':90} # ERROR!

TypeError: ignored

In [ ]:
# convert a list of tuples into a dictionary
t = [('dad', 'Jack'), ('mom', 'LiLi'), ('size', 2)]
family = dict(t)
type(t)
type(family)
print(family)

{'dad': 'Jack', 'mom': 'LiLi', 'size': 2}

In [ ]:
# 增
std_grade = {1:12, 2:100, 3:90}  # 學號, 成績
std_grade[4] = 30                # 新增一筆 {4: 30}
print(std_grade)

{1: 12, 2: 100, 3: 90, 4: 30}

In [ ]:
# 刪
std_grade = {1:12, 2:100, 3:90, 4:50}
del std_grade[3]      # 移除 {3:} 這一筆
print(std_grade)
g = std_grade.pop(4)  # 移除並回傳
print(g, std_grade)

{1: 12, 2: 100, 4: 50}
50 {1: 12, 2: 100}

In [ ]:
# 修
std_grade = {1:12, 2:100, 3:90}
name_grade = {'nick':90, 'jack':50}
std_grade[4] = 100
name_grade['nick'] = 100
print(std_grade, name_grade)

{1: 12, 2: 100, 3: 90, 4: 100} {'nick': 100, 'jack': 50}

In [ ]:
std_grade.update({1:90})   # 也可使用 update
print(std_grade)

{1: 90, 2: 100, 3: 90, 4: 100}

In [ ]:
# 查
std_grade = {1:12, 2:100, 3:90}
print(std_grade[1])
print(std_grade.get(1))
print(len(std_grade))
print(1 in std_grade)
print(100 in std_grade)
print('nick' in name_grade)

12
12
3
True
False
True

In [ ]:
name_grade = {'nick':90, 'jack':50}
k = name_grade.keys()
print(k)
print('nick' in k)

dict_keys(['nick', 'jack'])
True

In [ ]:
v = name_grade.values()
print(v)
print(50 in v)

dict_values([90, 50])
True

In [ ]:
items = name_grade.items()
print(items)
print(('nick',90) in items)

dict_items([('nick', 90), ('jack', 50)])
True

In [ ]:
# Example
family = {'dad':'Jack', 'mom':'LiLi', 'size':6}
print(family.items())
for (key, value) in family.items():
    print(key, value)

dict_items([('dad', 'Jack'), ('mom', 'LiLi'), ('size', 6)])
dad Jack
mom LiLi
size 6

In [ ]:
# dictionary comprehension
fruits = ['apple', 'banna', 'cherry']
fruits

['apple', 'banna', 'cherry']

In [ ]:
# 一行產生一個水果字數的 dict
fruit_len = {f:len(f) for f in fruits}
print(fruit_len)

{'apple': 5, 'banna': 5, 'cherry': 6}

In [ ]:
# 建立一個班級人數的 dict
classA = ['Jack', 'Mary']
classB = ['nick', 'albert', 'jie']
allClass = [classA, classB]
class_count = {tuple(c):len(c) for c in allClass}
print(allClass)
print(class_count)

[['Jack', 'Mary'], ['nick', 'albert', 'jie']]
{('Jack', 'Mary'): 2, ('nick', 'albert', 'jie'): 3}

In [ ]:
# zip
std = ['nick','john','mac']
grade = [100, 90, 80]
std_grade = {k:v for (k,v) in list(zip(std, grade))}
print(list(zip(std,grade)))
print(std_grade)

[('nick', 100), ('john', 90), ('mac', 80)]
{'nick': 100, 'john': 90, 'mac': 80}

In [ ]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")
x = zip(a, b)
print(tuple(x))

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

## 中英字典
應用dict建立一個英翻中的字典，例如myDict = {“dog”: “狗”, “cat”:“貓” }。依據此字典透過程式產生另一個中翻英字典。 要求使用者選擇: 英翻中, 中翻英, 或離開
使用者輸入英文(或中文) 若有此字，輸出翻譯結果，若沒有，則輸出:查無此單字。
迴圈直到使用者選擇離開